RedPill/RedPill.Client/Service References/ServiceReference1/RedPill2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://KnockKnock.readify.net" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://KnockKnock.readify.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://KnockKnock.readify.net/Imports">
      <xsd:import schemaLocation="http://localhost:59376/RedPill.svc?xsd=xsd0" namespace="http://KnockKnock.readify.net" />
      <xsd:import schemaLocation="http://localhost:59376/RedPill.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59376/RedPill.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRedPill_WhoAreYou_InputMessage">
    <wsdl:part name="parameters" element="tns:WhoAreYou" />
  </wsdl:message>
  <wsdl:message name="IRedPill_WhoAreYou_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhoAreYouResponse" />
  </wsdl:message>
  <wsdl:message name="IRedPill_FibonacciNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:FibonacciNumber" />
  </wsdl:message>
  <wsdl:message name="IRedPill_FibonacciNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:FibonacciNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IRedPill_FibonacciNumber_ArgumentOutOfRangeException_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:ArgumentOutOfRangeException" />
  </wsdl:message>
  <wsdl:message name="IRedPill_WhatShapeIsThis_InputMessage">
    <wsdl:part name="parameters" element="tns:WhatShapeIsThis" />
  </wsdl:message>
  <wsdl:message name="IRedPill_WhatShapeIsThis_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhatShapeIsThisResponse" />
  </wsdl:message>
  <wsdl:message name="IRedPill_ReverseWords_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseWords" />
  </wsdl:message>
  <wsdl:message name="IRedPill_ReverseWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IRedPill_ReverseWords_ArgumentNullException_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:ArgumentNullException" />
  </wsdl:message>
  <wsdl:portType name="IRedPill">
    <wsdl:operation name="WhoAreYou">
      <wsdl:input wsaw:Action="http://KnockKnock.readify.net/IRedPill/WhoAreYou" message="tns:IRedPill_WhoAreYou_InputMessage" />
      <wsdl:output wsaw:Action="http://KnockKnock.readify.net/IRedPill/WhoAreYouResponse" message="tns:IRedPill_WhoAreYou_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FibonacciNumber">
      <wsdl:input wsaw:Action="http://KnockKnock.readify.net/IRedPill/FibonacciNumber" message="tns:IRedPill_FibonacciNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://KnockKnock.readify.net/IRedPill/FibonacciNumberResponse" message="tns:IRedPill_FibonacciNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://KnockKnock.readify.net/IRedPill/FibonacciNumberArgumentOutOfRangeExceptionFault" name="ArgumentOutOfRangeException" message="tns:IRedPill_FibonacciNumber_ArgumentOutOfRangeException_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhatShapeIsThis">
      <wsdl:input wsaw:Action="http://KnockKnock.readify.net/IRedPill/WhatShapeIsThis" message="tns:IRedPill_WhatShapeIsThis_InputMessage" />
      <wsdl:output wsaw:Action="http://KnockKnock.readify.net/IRedPill/WhatShapeIsThisResponse" message="tns:IRedPill_WhatShapeIsThis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseWords">
      <wsdl:input wsaw:Action="http://KnockKnock.readify.net/IRedPill/ReverseWords" message="tns:IRedPill_ReverseWords_InputMessage" />
      <wsdl:output wsaw:Action="http://KnockKnock.readify.net/IRedPill/ReverseWordsResponse" message="tns:IRedPill_ReverseWords_OutputMessage" />
      <wsdl:fault wsaw:Action="http://KnockKnock.readify.net/IRedPill/ReverseWordsArgumentNullExceptionFault" name="ArgumentNullException" message="tns:IRedPill_ReverseWords_ArgumentNullException_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>