RedPill/RedPill.Client/Service References/ServiceReference1/RedPill.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://KnockKnock.readify.net" elementFormDefault="qualified" targetNamespace="http://KnockKnock.readify.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WhoAreYou">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WhoAreYouResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhoAreYouResult" nillable="true" type="tns:ContactDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ContactDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GivenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDetails" nillable="true" type="tns:ContactDetails" />
  <xs:element name="FibonacciNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FibonacciNumberResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatShapeIsThis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
        <xs:element minOccurs="0" name="c" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatShapeIsThisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhatShapeIsThisResult" type="tns:TriangleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="TriangleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Equilateral" />
      <xs:enumeration value="Isosceles" />
      <xs:enumeration value="Scalene" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TriangleType" nillable="true" type="tns:TriangleType" />
  <xs:element name="ReverseWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseWordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>